
.navbar{
    background: #337AB7;
}


.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 100%;
  padding: 3px;
  width: auto;
  display: inline;
}

#nav-cont .navbar-brand{
    color: white;
    /*font-family: 'Quicksand', sans-serif;
	font-family: 'Ubuntu', sans-serif;
    */
    /*font-family: 'Bangers', cursive;*/
	font-size: 30px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	padding-left: 0;
}
/*media queries para la cabecera*/
@media (max-width: 768px) {
	#dropdown .dropdown-toggle{
		background-color: transparent;
		color: white;
		border-bottom: 1px solid white;
	}
	#dropdown .dropdown-menu>li>a{
		color: white;
	}
}
@media (max-width: 600px) {
	#nav-cont .navbar-brand{
		font-size: 15px;
	}
}
@media (max-width: 360px) {
	#nav-cont .navbar-brand{
		font-size: 10px;
	}
}

#logomodal{
	height: 50px;
	width: 40px;
	float: left;
}
 .navbar-default .navbar-nav>li>a{
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
}

.dropdown-menu>li>a{
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
}

#titulomodal{
	float: left;
	line-height:  1.42857143;
	margin-top: 15px;
}
.thumbnail{
	min-height: 250px;
	height: auto;
}

#fondo{
	background-color: #3A94B5;
}

.botones{
	text-align: center;
	margin: auto;
}

#logocontrolfid{
	-webkit-border-radius: 10px;
-webkit-border-top-right-radius: 30px;
-moz-border-radius: 10px;
-moz-border-radius-topright: 30px;
border-radius: 10px;
border-top-right-radius: 30px;
}
.logos{
	width:400px;
	height:250px;
}
